<!DOCTYPE html>
<html>
<%= stylesheet_link_tag "falling_lava" %>
<p class="text-center text-primary">The high score is: <%= @high_score %></p>
<p class="text-center text-primary">The total number of plays is: <%= @plays %></p>
</html>
